@model ImageViewer.Models.UI

@{
    ViewBag.Title = "Add New Image"; Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeviceOnLoan_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeviceOnLoan_WebApp.styles.css" asp-append-version="true" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/UIs/UploadImage">UploadImage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/UIs/ShowImage">ViewImage</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="card" style="width: 40rem;">
            <div class="card-body">

                <form asp-action="UploadImage" enctype="multipart/form-data">

                    <div class="form-group" style="height:5rem;">
                        <div class="row">

                            <div class="col">
                                <label>Image Name</label>
                                <input asp-for="ImageName" class="form-control" style="width:15rem;" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="padding-top:10px; height:5rem;">
                        <label>Upload Image</label>
                        <div>
                            <input asp-for="ImageFile" accept="image/*" style="width:15rem;" />
                        </div>
                    </div>


                    <div style="padding-top:10px;">
                        <button type="submit" class="btn btn-secondary">Upload</button>
                    </div>

                </form>
            </div>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>


